/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

body {
    background-color: #f6f5f3;
}

h1 {
    color: #4e3969;
    font-size: 5rem;
}

/* regole header */
header {
    height: 90px;
    background-color: white;
    font-family: "Nerko One", cursive;
    font-size: 5rem;
    color: #ff9614;
    padding-left: 20px;
    padding-top: 5px;
}

/* parte contenuto */
.category {
    color: grey;
    font-size: 1.5rem;   
}

.container {
    width: 70%;
    margin: 70px auto;
    /* DEBUG */
    min-height: 300px;
    background-color: brown;
}

.row {
    display: flex;
    margin-top: 20px;
}

.col-sx {
    width: 70%;
    /* DEBUG */
    min-height: 150px;
    background-color: blue;
}

.col-dx {
    width: 30%;
    /* DEBUG */
    min-height: 150px;
    background-color: chartreuse;
    padding: 10px 20px;
}

.col-dx span,
h3 {
    display: block;
    margin: 20px;
}

/* tablet contenuto video */
@media screen and (max-width:1020px) {

    .row {
        display: block;
    }

    .col-sx,
    .col-dx {
        width: 100%;
    }

}

/* parte bottoni social media*/

button {
    border-radius: 50px;
    padding: 5px 10px;

}

/* tablet bottoni social media*/
@media screen and (max-width:1020px) {

    .btn-text {
        display: none;
    }

    button {
        width: 100px;
    }
}

/* mobile bottoni social media*/
@media screen and (max-width:640px) {

    .btn-text {
        display: none;
    }

    button {
        width: 40px;
    }
}

/* parte banner */

#banner {
    width: 100%;
}

/* mobile banner */
@media screen and (max-width:640px) {

    #banner {
        display: none;
    }
}


/* sezione descrizione ricetta */
#img-sx {
    width: 200px;
}

.float-sx {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* mobile descrizione ricetta */
@media screen and (max-width:640px) {

    #img-sx {
        margin: 0 auto;
}

    .float-sx {
        float: none;
        display: block;
}
}


/* regole footer */
footer {
    background-color: purple;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    width: 30%;
    /*DEBUG*/
    background-color: aqua;
}

/* tablet footer */
@media screen and (max-width:1020px) {

    .footer {
        height: 150px;
        display: block;
        }

    .footer-col {
        width: 100%;
        /*DEBUG*/
        background-color: aqua;
}
}
